.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1100px;
    overflow: hidden;
    height: auto;
}
header {
    display: flex;
    justify-content: space-between;
    height:45px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    position: fixed;
    z-index: 1;
    width:1100px;
    top:0;
    background-color: white;
    

}


header .logo {
    height: 40px;
    width: auto;

}

header .menu {
   
    width: auto;
    height: 100px;
    
    
}
.menu img {
    height:25px;

}
header .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    
}
header .menu ul li {
    padding: 0 10px;
    font-family: 'Oswld', 'sans-serif';
    color: #2d2d2d;
    display: inline;
}

header .menu ul .dropdown 
{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    height: auto;
    margin-top:10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgb(0,0,0,.15);
    border: 1px solid #eaeef1;
    z-index: 1;
    top:25px;
}
header .menu .has-dropdown:hover .dropdown {
    display: flex;
    }

header .menu ul li a {
    color: #2d2d2d;
    text-decoration: none;

}
.menu {
    width: auto;
}
header .menu ul li.active a {
    color: #1097cc;
}